body {
  margin: 0;
  background: url("supermarket.jpg") no-repeat fixed;
  color: white;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3em;
  color: #ff4500;
  font-weight: 600;
}

ul {
  list-style: none;
  margin: 0 30px;
}

li {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p {
  font-size: 1.5em;
  text-align: center;
}

#userinput {
  grid-area: a;
}

#userinput:focus {
  outline: none;
}

#enter, #userinput, #reset {
  border-radius: 300px;
  text-align: center;
  height: 50px;
  width: 100%;
  border: none;
}

#enter {
  background-color: #00ff00;
  grid-area: b;
}

#enter:hover {
  background-color: #00ad00;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

#reset {
  background-color: #ff4500;
  grid-area: c;
}

#reset:hover {
  background-color: #d13900;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

#remove {
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: 400px 100px 100px;
  grid-column-gap: 30px;
  grid-template-areas: 
    "a b c";
  justify-items: center;
  align-self: center;
  margin: 0 20%;
}

.board {
  min-width: 450px;
  min-height: 500px;
  width: auto;
  height: auto;
  margin: 50px 0;
  background-color: rgba(50, 141, 168, 0.2);
  border: 1px solid white;
  box-shadow: 3px 3px 5px black;
}

.removebutton {
<<<<<<< HEAD
  background: url("remove.png") no-repeat;
  width: 20px;
  height: 20px;
=======
  background: url("remove.svg") no-repeat;
  width: 30px;
  height: 30px;
>>>>>>> e4ddcc394342e6c33edd9c036a17f99cd53a9ee0
  margin-left: 20px;
}

li:hover, .removebutton:hover {
  cursor: pointer;
  color: #ff4500;
}

.undone.done {
  text-decoration: line-through;
  transition: 0.3s;
}

@media only screen and (max-width: 650px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "a a"
    "b c";
    grid-gap: 20px;
    width: 90%;
  }
  .board {
    min-width: 300px;
  }
}